<div id="contacts" class="block grid_12">
	<div id="photo" class="alpha grid_3">
		<img src="/img/photo210.png" alt="photo"/>
		<div class="panel">
			<span class="show-vcard dashed">▲ vCard</span>
		</div>
		<div id="vcard">
			<img src="/img/qr-vcard.png" alt="vcard"/>
			<a class="hidden download" href="files/victor_smirnov.vcf" title="загрузить vCard">vCard</a>
		</div>
	</div>
	<div id="intro" class="omega grid_9">
		<h1>Смирнов Виктор Александрович</h1>
		<p class="icon job">
			Веб-разработчик в
			<a class="hidden" target="_blank" href="http://www.220-volt.ru">
				<strong>220 вольт</strong>
			</a>
		</p>
		<p class="icon study">Магистр фундаментальной информатики и информационных технологий</p>
		<p class="icon email">
			<a class="hidden" target="_blank" href="mailto:victor.smirnov@qvit.pro"><strong>victor.smirnov@qvit.pro</strong></a>
		</p>
		<p class="icon github">
			<a class="hidden" target="_blank" href="https://github.com/qvit"><strong>qvit</strong></a>
		</p>
	</div>
</div>
