<div id="cv" class="block grid_12">
	<h1>CV</h1>
	<p>
		<a href="https://www.linkedin.com/in/smirn"><img src="/img/linkedin-logo.ico" alt="" title="LinkedIn - Victor Smirnov" style="max-height: 16px;"/></a>
		<a href="https://www.linkedin.com/in/smirn" title="LinkedIn - Victor Smirnov">Victor Smirnov</a>
	</p>
	<h3>Профессиональные навыки</h3>
	<ul>
		<li>
			<span class="category">Front-end:</span>
			(X)HTML + CSS (LESS) + JavaScript (jQuery),
			XML + XSLT + CSS, basic SVG
		</li>
		<li>
			<span class="category">Web development:</span>
			Django (Python),
			PHP/Yii,
			Ruby on Rails (Ruby),
			JSP (Java)
		</li>
		<li>
			<span class="category">Mobile:</span>
			Android (Java)
		</li>
		<li>
			<span class="category">Databases:</span>
			PostgreSQL,
			MySQL,
			sqlite3
		</li>
		<li>
			<span class="category">VCS:</span>
			Git
		</li>
		<li>
			<span class="category">English:</span>
			qualified as a technical translator
		</li>
	</ul>
	<h3>Участие в проектах</h3>
	<ul>
		<li>
			<span class="category">
				<a class="hidden" href="https://www.assembla.com/wiki/show/videostrom">VideoStorm</a>
			</span>
			<div class="desc">
				Система ведения видеоархива для телеканала ЮУрГУ-ТВ<br/>
				<em>Ruby on Rails</em>, <em>XML</em>
			</div>
		</li>
		<li>
			<span class="category">ЮУрГИС</span>
			<div class="desc">
				Система навигации по ЮУрГУ<br/>
				<em>Yii (PHP)</em>, <em>MySQL</em>
			</div>
		</li>
		<li>
			<span class="category">
				<a class="hidden" href="http://goo.gl/PXZ8z">ЮУрГИС для Android</a>
			</span>
			<div class="desc">
				Мобильное приложение для навигации по ЮУрГУ<br/>
				<em>JavaEE</em>, <em>sqlite3</em>
			</div>
		</li>
	</ul>
	<h3>Собственные проекты</h3>
	<ul>
		<li>
			<span class="category">
				<a class="hidden" href="https://github.com/qvit/jquery-slidable">jquery-slidable</a>
			</span>
			<div class="desc">
				jQuery-плагин для отображения раскрывающихся блоков<br/>
				<em>jQuery (JavaScript)</em>
			</div>
		</li>
	</ul>
</div>
