<div id="links" class="block grid_12">
	<div class="up"><a class="dashed" href="#top">▲ вверх</a></div>
	<h1>Ссылки</h1>
	<div class="contents">
		<span class="tab" id="tab-profiles" title="Показать">
			<span class="dashed">Я в Интернете</span>
		</span>
		<span class="tab" id="tab-recommendations" title="Показать">
			<span class="dashed">Рекомендую</span>
		</span>
		<!--[if IE 8]><div></div><![endif]-->
		<div class="tabbed" id="tabbed-profiles">
			<a class="plain" href="http://vk.com/victor_smirnov" title="В Контакте" target="_blank">
				<img src="/img/vk.png" alt="vk"/>
			</a>
			<a class="plain" href="https://twitter.com/smirn" title="Twitter" target="_blank">
				<img src="/img/twitter.png" alt="twitter"/>
			</a>
			<a class="plain" href="http://www.lastfm.ru/user/OrangeVs" title="Last.fm" target="_blank">
				<img src="/img/lastfm.png" alt="lastfm"/>
			</a>
			<a class="plain" href="https://plus.google.com/103162621042401503577" title="Google+" target="_blank">
				<img src="/img/google-plus.png" alt="google+"/>
			</a>
			<a class="plain" href="http://www.facebook.com/v.a.smirnov" title="Facebook" target="_blank">
				<img src="/img/facebook.png" alt="facebook"/>
			</a>
		</div>
		<div class="tabbed" id="tabbed-recommendations">
			<script type="text/javascript">
				function showOverlay() {
					$("#overlay").show();
				}

				function hideOverlay() {
					$("#overlay").hide();
				}

				$(function () {

					$(".caller").click(function (event) {
						event.preventDefault();
						showOverlay();
						var self = $(this);
						var popup_id = "#" + $.trim(self.attr("id")).split("-")[0] + "-popup";
						$(popup_id).show();
					});

					$("#overlay, .close-popup").click(function () {
						$(".popup").hide();
						hideOverlay();
					});
				});
			</script>
			<a id="sugarsync-activator" class="caller plain" href="http://goo.gl/8Ykc0" title="Подробнее..." target="_blank">
				<img src="/img/sugarsync26.png" alt="sugarsync"/>
			</a>
			<a id="cloud9-activator" class="caller plain" href="https://c9.io/" title="Подробнее..." target="_blank">
				<img src="/img/c926.png" alt="cloud9"/>
			</a>
			<div id="sugarsync-popup" class="popup">
				<img src="/img/close.png" class="close-popup" alt="close" title="Закрыть"/>
				<img src="/img/sugarsync-logo.png" alt="SugarSync"/>
				<p>
					Бесплатный сервис для хранения и синхронизации файлов.
					По <a href="http://goo.gl/8Ykc0" target="_blank">данной ссылке</a> при регистрации получите на 500 МБ больше места на облаке.
				</p>
				<p>
					<strong><a href="https://www.sugarsync.com/" target="_blank">Подробнее</a></strong>
				</p>
			</div>
			<div id="cloud9-popup" class="popup">
				<img src="/img/close.png" class="close-popup" alt="close" title="Закрыть"/>
				<img src="/img/cloud9-logo.png" alt="Cloud9 IDE"/>
				<p>
					Облачная IDE с широким функционалом.
					Возможна привязка к аккаунтам на GitHub и Bitbucket.
				</p>
				<p>
					<strong><a href="https://c9.io/" target="_blank">Подробнее</a></strong>
				</p>
			</div>
		</div>
	</div>
</div>
