<!DOCTYPE html>
<html lang="ru">
<!--[if lt IE 7]> <html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="ru" class="lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>    <html lang="ru" class="lt-ie9">               <![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Web-разработчик в 220 вольт">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/960.min.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>{{ page.title }}</title>
    <script src="//userapi.com/js/api/openapi.js?96"></script>
    <script>
        VK.init({apiId: 3707319, onlyWidgets: true});
    </script>
    <meta name="google-site-verification" content="YU0eZg0nP94sP7J9ywidrpjcAJ-i9UlbIlQ5WQ-tc-w" />
    <meta name='yandex-verification' content='405a528e49e8be92' />
</head>
<body>
    {{ content }}
    <div id="overlay"></div>
    <div id="top" class="wrapper">
        {% include header.html %}
        <div id="middle" class="content container_12">
            {% include contacts.html %}
            {% include cv.html %}
            {% include links.html %}
        </div>
        <div id="push"></div>
    </div>
    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="/js/jquery.smooth-scroll.1.5.2.min.js"></script>
    <script src="/js/main.min.js"></script>

    <!-- Yandex.Metrika counter -->
    <noscript><div><img src="https://mc.yandex.ru/watch/4350271" style="position:absolute; left:-9999px;" alt=""/></div></noscript>
</body>
</html>
